body {
    font-family: monospace;
    background-color: black;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

.terminal {
    padding: 20px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    overflow-y: auto;
    background-color: black;
}
.prompt {
    color: #00ff00;
}

.command {
    color: #ffffff;
}

.blinking-cursor {
    display: inline;
    background-color: #00ff00;
    width: 10px;
    height: 20px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.terminal::-webkit-scrollbar {
    width: 8px;
}

.terminal::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 4px;
}

.terminal::-webkit-scrollbar-track {
    background: black;
}

html {
    scroll-behavior: smooth;
}

#input {
    border: none;
    background: black;
    color: #00ff00;
    font-family: monospace;
    font-size: 16px;
    width: 100%;
    outline: none;
}
